---
apiVersion: v1
kind: Secret
metadata:
  name: scsp-sql-credentials
  namespace: maec-scsp-s2i
type: Opaque
stringData:
  DB_USERNAME: "user_scsp_app"
  DB_PASSWORD: "Tr@nsaccion3sSeguras2026!"
  DB_NAME: "SCSP_PROD_NUBESARA"
